<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if name %}
            {{ name }}
        {% else %}
            Анонимус
        {% endif %}. Лабораторная работа {{ lab }}</title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab %}Лабораторная работа 2{% endif %}
        <hr>
    </header>
    <main>
        5 + 2 = {{ 5 + 2}}<br>
        11x28 = {{ 11 * 28}}<br>
        3258-759 = {{3258 - 759}}<br>
        8452/793 = {{8452 / 793}}<br>
        45<sup>8</sup> = {{ 45 ** 8 }}<br>
        <ul>
            {% for i in fruits %}
            <li>{{ loop.index }} - {{ i.name }}: {{ i.price }} &#x20bd;</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <hr>
                &copy;
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        ФБИ -{% if group %}
            {{ group }},
        {% else %}
            ??,
        {% endif %}
        {% if course %}
            {{ course }}
        {% else %}
            ??,
        {% endif %}
        курс
        2025
    </footer>
</body>
</html>