{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}
{% block main %}
    <h1>Создание статьи</h1>
    {% if error %}
        {{ error }}
        <a href="/lab5/create">Вернуться к созданию</a>
    {% else %}
    <form method="post">
        <div>
            <label for="">
                Название статьи:
                <input type="text" name="name" maxlength="50">
            </label>
        </div>
        <div>
            <textarea name="article_text"></textarea>
        </div>
        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
    <div>
        <label>
            <input type="checkbox" name="is_favorite" value="true">
            Добавить в избранное
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="is_public" value="true">
            Сделать публичной
        </label>
    </div>
    {% endif %} 
{% endblock %}