<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Писарев Максим. {% block lab%}{% endblock %}.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}


    </header>
    
    <main>
        {% block main %}{% endblock %}
        <a href="/">Главная</a>
    </main>

    <footer>
        &copy; Писарев Максим, ФБИ-31, 3 курс, 2025
        
    </footer>
</body>
</html>