<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Писарев Максим Иванович. Лабораторные работы по WEB-программированию.</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{lab}}
        <hr>
    </header>
    <main>
        основной контент
    </main>
    <footer>
        <hr>
        &copy; {{name}}, ФБИ-{{group}}, {{course}} курс, 2025
    </footer>
</body>
</html>