{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/a/">/lab2/a/ (со слэшем)</a></li>
        <li><a href="/lab2/a">/lab2/a (без слэша)</a></li>
        <li><a href="/lab2/flowers/0">/lab2/flowers/0 (пример цветка)</a></li>
        <li><a href="/lab2/add_flower/лилия">/lab2/add_flower/лилия (пример добавления)</a></li>
        <li><a href="/lab2/add_flower/">/lab2/add_flower/ (без имени, ошибка 400)</a></li>
        <li><a href="/lab2/all_flowers/">/lab2/all_flowers/ (все цветы)</a></li>
        <li><a href="/lab2/clear_flowers/">/lab2/clear_flowers/ (очистка)</a></li>
        <li><a href="/lab2/example">/lab2/example (пример шаблона)</a></li>
        <li><a href="/lab2/filters">/lab2/filters (фильтры)</a></li>
        <li><a href="/lab2/calc/2/3">/lab2/calc/2/3 (пример калькулятора)</a></li>
        <li><a href="/lab2/calc/">/lab2/calc/ (по умолчанию)</a></li>
        <li><a href="/lab2/calc/5">/lab2/calc/5 (с одним числом)</a></li>
        <li><a href="/lab2/books">/lab2/books (книги)</a></li>
        <li><a href="/lab2/animals">/lab2/animals (животные)</a></li>
    </ol>
{% endblock %}